# ----------------------
# Dependencies
# ----------------------
node_modules/

# ----------------------
# Build output
# ----------------------
dist/
build/

# ----------------------
# Logs
# ----------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ----------------------
# Environment variables
# ----------------------
.env
.env.*
!.env.example

# ----------------------
# Editor / IDE files
# ----------------------
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Vite specific
# ----------------------
vite.config.*.timestamp-*

# ----------------------
# Misc
# ----------------------
*.log
coverage/
